body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: flex;
  justify-content: space-around;
  color: #e53935;
}

.nav {
  margin-bottom: 25px;
}

.active {
  font-weight: bold;
}

.nav-link {
  text-decoration: inherit;
  color: inherit;
}

.card {
  max-width: 500px;
  border-radius: 5px;;
  box-shadow: 2px 2px 5px grey;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.medium-image {
  width: 100px;
  height: 100px;
}

.small-image {
  width: 20px;
  height: 20px;
}

.select-user {
  width: 100%;
}

.sign-in-btn {
  margin-top: 10px;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #e53935;
  color: white;
}

.blank-btn {
  border: none;
  font-size: 16px;
  background: none;
}

.home-container {
  border-radius: 5px;;
  box-shadow: 2px 2px 5px grey;
  max-width: 600px;
  margin: auto;
  padding: 25px;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

.question-card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;;
  box-shadow: 2px 2px 5px grey;
  padding: 25px;
}

.card-header {
  color: #e53935;
  font-weight: bold;
}

.question-content {
  display: flex;
}

.question-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}